@font-face {
  font-family: 'Karu-Light';
  src: url(Karu-Light.otf) format('truetype');
}

*{
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
  box-sizing:border-box;
}
/* scrollbar */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background:#242320;
  border-radius: 6px;
}

html{
  scroll-behavior: smooth;
}
body{
  overflow-y: scroll;
}
body,
button {
  font-family: 'Karu-Light';
    src: url(Karu-Light.otf) format('truetype');
}

.container {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(#ADADAC,#3E3D36);
  
  overflow-x: hidden;
  transform-style: preserve-3d;
}

title{
  font-family: 'Karu-Light';
  src: url(Karu-Light.otf) format('truetype');
}
h1{
  font-family: 'Karu-Light';
  src: url(Karu-Light.otf) format('truetype');
}

/* Menu 3d */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 180rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
}

.logo span {
  font-weight: 300;
}
/* menu hamburger */
.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  background: url("Logo empire.png") no-repeat  center /50%;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(28, 28, 29, 0.171);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 35rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}


.title {
  font-size: 2.7rem;
}
/* Bouton */
.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background: rgba(255,255,255, 0.1);
  border: none;
  border-radius: 15px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition: ease-out 0.3s;
  font-size: 0.7em;
  letter-spacing: 2.5px;
  overflow: hidden;
  box-shadow:  0 5px 5px rgba(0, 0,0, .2);
  outline: none;
}

.btn:hover{
  background-color: #3E3D36;
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}
/* animation 3d */
@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}
/* liste */
.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #3E3D36;

}
.links a:after{
  content:"";
  position: absolute;
  background-color: #ADADAC;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 7px;
  transition: 0.3s;
}
.links a:hover:after{
  width: 100%;

}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
/* ombre derriere page principal 3d */
.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

/* animation rotation du container 3d */
@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}
@media (max-width:600px){

  .menu{
    padding: 0;
  }
 
  
}
/* Footer */
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(#ADADAC,#3E3D36);
  background color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: 13px;
  line-height: 20px;
  display: block;
  margin: 0 auto;
  text-align:center;
  
}

footer h3{
  color: white;
  font-family: 'Karu-Light';
  src: url(Karu-Light.otf) format('truetype');
    display: block;
    margin: 0 auto;

 
}

footer p{
  color: white;
  font-family: 'Karu-Light';
  src: url(Karu-Light.otf) format('truetype');
  display: block;
  margin: 0 auto;
  text-align: center;
}

.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col{
/* La propriété flex-basis détermine la base de flexibilité utilisée comme taille initiale principale pour 
un élément flexible.Cette propriété détermine la taille de la boîte de contenu
sauf si une autre boîte est visée par box-sizing. */
  flex-basis: 25%;
  padding: 10px;
  
}

.col :nth-child(2), .col :nth-child(3){
  flex-basis: 15%;
}
.logo{
  margin-bottom: 30px;
}

.col img{
  width: 60%;
  height: 60%;

}


.col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.social-icon .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #3E3D36;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 10px rgba(0, 0,0, 0.1);
  display: inline-block;
  overflow: hidden;
}

.social-icon span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;

}
.social-icon .fab:hover{
  width: 100px;
  height: 40px;
  color: #fff;
  background:#3E3D36;
  border-radius: 5%;
  text-align: center;

}

hr{
  width: 90%;
  border:0 ;
  border-bottom: 1px solid #ccc ;
  margin:20px auto;
  animation: moving 2s linear infinite ;

}
.copyright{
  text-align: center;
  
  
}
#mappa{
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  color: #3E3D36;
  
}
.adressemail{
margin-top: 10px;
margin-left: 15px;

}

.underline{
  width: 100%;
  height: 5px;
  background: #3E3D36;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite ;
}


@keyframes moving{
0%{
  left: -20px;
}
100%{
  left: 100%; 
}
}

.containerfoot{
 
  width: 100%;
  overflow: hidden;
}


input{
  background-color: rgb(136, 133, 133);
  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  height: 100%;
  display: block;
  margin:  auto;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  
  
}
input:hover{
  background-color:#3E3D36 ;
}

input::placeholder{
  color: #fff;
  text-align: center;
  
}


textarea{
  font-family: 'Karu-Light';
  src: url(Karu-Light.otf) format('truetype');
  background-color: rgb(136, 133, 133);
  color: #fff;
  outline: none;
  overflow: hidden;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin:  auto;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}
textarea:hover{
  background-color:#3E3D36 ;
 
  
}

textarea::placeholder{
  color: #fff;
  text-align: center;
  

}

.submit{
  font-family: 'Karu-Light';
  src: url(Karu-Light.otf) format('truetype');
  width: 40%;
  background: none;
  outline: none;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 33px;
  text-align: center;
  cursor: pointer;
  margin-left: 3px;
  border-radius: 4px;
  border: 2px solid rgb(190, 190, 190);
  color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0,0, 0.1);
  display: block;
  margin:  auto;
  transition: all 0.3s ease-in-out;
  
}

.submit:hover{
  border: 1px solid #fff;
  color: #3E3D36;
  background: #fff;
  cursor: pointer;
  
  
}

form{
  display: block;
  margin: auto;
}

.box form div span{
  font-family: 'Karu-Light';
  src: url(Karu-Light.otf) format('truetype');
  color:  #fff;
  position: absolute;
  margin: auto;

  
  

}
/* Responsive */
@media (max-width:900px) {

  footer{
    
      bottom: unset;
      align-items: center;
     text-align: center;
      justify-content: center;  
      display: block;
      margin: 0 auto;
      position: fixed;
  }

  footer h3 {
      display: block;
      margin: 0 auto;
  }


  .col{
      /* La propriété flex-basis détermine la base de flexibilité utilisée comme taille initiale principale pour 
      un élément flexible.Cette propriété détermine la taille de la boîte de contenu
       sauf si une autre boîte est visée par box-sizing. */
          flex-basis: 100%;
          padding: 10px;
       
      }

   
}

@media only screen  and (min-width:900px){
  footer{
      position: relative;
  }
.logo-container{
  margin-left: 25px;
}

}
@media (min-width:1441px){
  
  .links{
  width: 50%;
  }
  .links a{
    font-size: 4rem;

  }
}
@media (max-width:600px){
 
  .links {
    position: fixed;
    width: 100%;
    
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 600px;
    
  }
  
.links ul {
  width: 100%;
  margin-bottom: 171px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;

}

.links li {
  display: flex;
  justify-content: space-between;

 
}


}